<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间，为了对sql语句进行隔离，方便管理 ，mapper开发dao方式，使用namespace有特殊作用 -->
<mapper namespace="com.etc.jn.dao.Post_PosttypeDao">
<!-- 在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象
mapper.xml以statement为单位管理sql语句
 -->
<insert id="addPostTypeByPostId" >
    INSERT into jn_post_posttype(jn_posttypeid,jn_postid) VALUES(#{param2},#{param1})
</insert>
    <update id="updatePostTypeByPostId">
        update jn_post_posttype set jn_postid=#{param2} where jn_posttypeid=#{param1}
    </update>
</mapper>

